
    <% newUserAllChat.forEach(function(conversation){%> 
        <% if(conversation.members){%> 
            <a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
                <li class="person group-chat" data-chat="<%= conversation._id %>">
                    <div class="left-avatar">
                        <img src="images/users/images-group.jpg" alt="">
                    </div>
                    <span class="name">
                        <span class="group-chat-name">Group:</span><%= conversation.name %>
                    </span>
                    <span class="time"><%= convertTimes(lastItemOfArray(conversation.messages).createdAt)%></span>
                    <span class="preview notif-chat">
                        <% if(lastItemOfArray(conversation.messages).messageType ==="text"){ %> 
                            <%= lastItemOfArray(conversation.messages).text %>
                        <%}%>
                        <% if(lastItemOfArray(conversation.messages).messageType ==="image"){ %> 
                           đã gửi 1 ảnh
                        <%}%>
                        <% if(lastItemOfArray(conversation.messages).messageType ==="file"){ %> 
                           đã gửi 1 file
                        <%}%>
                    </span>
                </li>
            </a>                                
        <%}else{%>
            <a href="#uid_<%= conversation._id %>" class="room-chat"  data-target="#to_<%= conversation._id %>">
                <li class="person" data-chat="<%= conversation._id %>">
                    <div class="left-avatar">
                        
                        <img src="images/users/<%= conversation.avatar %>" alt="">
                    </div>
                    <span class="name">
                        <%= conversation.username%>
                    </span>
                    <span class="time"><%= convertTimes(lastItemOfArray(conversation.messages).createdAt)%></span>
                    <span class="preview notif-chat">
                        <% if(lastItemOfArray(conversation.messages).messageType ==="text"){ %> 
                            <%= lastItemOfArray(conversation.messages).text %>
                        <%}%>
                        <% if(lastItemOfArray(conversation.messages).messageType ==="image"){ %> 
                           đã gửi 1 ảnh
                        <%}%>
                        <% if(lastItemOfArray(conversation.messages).messageType ==="file"){ %> 
                           đã gửi 1 file
                        <%}%>
                    </span>
                </li>
            </a>
        <%}%>
    <%})%>
  
