<ul>
    <% userChat.forEach(function(userInfor){ %> 
        <% if(userInfor.members) { %>   
        <li>
            <span>
                <img class="avatar-small" src="/images/users/images-group.jpg" alt="non"> 
                <strong><%= userInfor.name %></strong>
                <a href="javascript:void(0)" data-uid="<%= userInfor._id %>" class="talk-with-user is-group">
                    <i class="fa fa-commenting-o"></i>
                </a>
            </span><br><br>                         
        </li>  
        <% }else{%>  
            <li>
                <span>
                    <img class="avatar-small" src="/images/users/<%= userInfor.avatar %>" alt="non"> 
                    <strong><%= userInfor.username %></strong>
                    <a href="javascript:void(0)" data-uid="<%= userInfor._id %>" class="talk-with-user">
                        <i class="fa fa-commenting-o"></i>
                    </a>
                </span><br><br>                         
            </li> 
        <% }%>
    <%})%>
</ul>